.statistics {
  width: 600px;
  margin: 24px auto 0 auto;
  border: 1px solid #000000;
  border-radius: 18px;
  box-shadow: 3px 3px 10px black;
}

.title {
  margin: 44px 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: -0.96px;
  text-align: center;
  text-transform: uppercase;
}

.stat_list {
  display: flex;
  justify-content: center;
  gap: 0;
  height: 100px;
}
